.TXTcontanier {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .PromptStyle,
  .DropBoxStyle,
  .SliderStyle,
  .CheckBoxStyle,
  .ButtonStyle {
    width: 100%;
    margin-bottom: 20px;
  }

  .PromptStyle {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .DropBoxStyle {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .SliderStyle {
    background-color: #eaeaea;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .CheckBoxStyle {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .ButtonStyle {
    text-align: center;
  }
  
  
  .ButtonStyle button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .ButtonStyle button:hover {
    background-color: #0056b3;
  }